*{
    margin:0;
    padding:0;
}
.navbar{
    height:100px;
    background-color: rgb(237, 245, 122);
}
#nav_1{
    display:flex;
    align-items:center;
    height:30%;
    gap:300px;
    
}

#search-container{
    height:100%;
    width:50% ;
    
    padding-left:80%;
   
}
#nav_2{
    padding-top:25px;
   
    display:flex;
    align-items:center;
    gap:50px;
    justify-content:space-evenly;
    color:rgb(22, 22, 22);
    padding-left:10px;
}
span{
    border:"2px solid black";

}
.audio_player{
    
 border:"2px solid voilet";
 margin:10px 10px 10px 10px;
 background-image:url("logo2.avif") ;
}
