.navbar{
    position:fixed;
    width:"100%";
    height:"10%";
    display:block;
    align-items: center;


}
#nav_1{
    background-color: black;
    display:block;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
    width:"100%";
}
#nav_2{
    background-color: rgb(6, 7, 7);
    display:inline-block;
    flex-direction: row;
    margin:0;
    padding:"10%";
    gap:'10%';
    list-style: none;
}
li{
    color:white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}